.divA {
    background-color: #ffa500;
    width: 500px;
    height: 500px;
}

.filhoA {
    background-color: #90ee90;
    width: 250px;
    height: 250px;
}

.paragrafo {
    color: white;
    background-color: red;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}

.divB {
    width: 50%;
    height: 50vh;
    background-color: rgb(159, 217, 255);
}

.filhoB {
    width: 75vw;
    height: 50%;
    background-color: rgb(255, 0, 0);
}